.live-bg-img {
	background: url(../img/a14.jpg) no-repeat
	center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.live-img {
	margin: 0 auto;
	margin-top: 220px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

div.rounded{
	width: 115px;
	padding: 10px;
	border: 2px solid #254117;
	border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: grey;
	color: white;
	text-align: center;
}

div.test{
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 15px;
	text-align: center;
	
}

.over{
	padding: 5px;
	border-radius: 10px;
	border-color: #254117;
	-moz-border-radius: 15px;
	
}

.custom-dark{
    color : #30393A !important;
    background-color:blue!important; 
 }
